<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/bootstrap.min.css') }}">
    <title>ToDoApp</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-size: 2rem">ToDoアプリ ログイン</a>
        </div>
    </nav>
<h1 style="margin-left: 30px;">ログイン</h1>
<form  class="m-5" action="/login" method="POST">
    <label for="">ユーザ名</label>
    <input type="text" name="username">
    <label for="">パスワード</label>
    <input type="password" name="password">
    <input type="submit" value="ログイン">
</form>
</body>
</html>